<header class="w3-display-container w3-content w3-wide" style="max-width:2000px;" id="home">
    <img class="w3-image" src="assets/images/street3.png" alt="map" width="2000px" height="40px">
    <div class="w3-display-middle w3-margin-top w3-center">
      <h1 class="w3-xxlarge w3-text-yellow"><span class="w3-padding w3-pale-blue w3-opacity-min"><b>Don't know which road to choose ? </b></span> 
        <br><br><!--<span class="w3-hide-small w3-text-white">-->
          <h3 style ="text-shadow: 2px 2px #c1ddf9;">Don't worry we make the best choice for you : </h3> <br>
          <a href="/route">
          <button class="button button1"><b>CHECK ROUTE</b></button>
          </a>
      </h1>
    </div>
  </header>

<br>
<div class="center-things">


  <h1 style="color:#89C7E7;"><b>WHAT DO WE OFFER ? </b> 
    <br>
    <br>

  <div class="row" text-align="center" >
    <div class="column">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../assets/images/4.png" alt="Avatar" style="width:300px;height:300px;">
          </div>
          <div class="flip-card-back">
            <p>check if the route <p>is busy</p> 
            <a href="/route">
            <button class="button button1"><b>CHECK ROUTE</b></button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../assets/images/1.png" alt="Avatar" style="width:300px;height:300px;">
          </div>
          <div class="flip-card-back">
            <p>Become </p>  <p>a BEE </p> 
            <a href="/register">
            <button class="button button1" ><b>SIGN UP</b></button>
          </a>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../assets/images/2.png" alt="Avatar" style="width:300px;height:300px;">
          </div>
          <div class="flip-card-back">
            <p>Fill survey</p>  
            <p>to help </p>
              <p>others</p> 
              <a href="/survey">
            <button class="button button1" ><b>FILL SURVEY</b></button>
              </a>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../assets/images/3.png" alt="Avatar" style="width:300px;height:300px;">
          </div>
          <div class="flip-card-back">
            <p>win gifts </p>  
            <p>from our </p>
              <p>partners</p> 
              <a href="/login">
            <button class="button button1" ><b>LOG IN </b></button>
          </a>
        </div>
      </div>
    </div>
</div>
 <!-- About Section -->
 <div class="w3-row w3-padding-64" id="about">
  <div class="w3-col m6 w3-padding-large w3-hide-small">
   <img src="../assets/images/6.png" class="w3-round w3-image w3-opacity-min" alt="logo" width="600" height="600">
  </div>

  <div class="w3-col m6 w3-padding-large">
    <br><br>
    <h1 class="w3-center"><b>WHAT IS BEELINE ?</b></h1>
    <h3 style="color: black;">One day, we had a very important meeting to go to.And we did not want to be late.
      So we wanted to make sure that the route we are heading to isn't busy at the moment. We searched everywhere but found nothing to help us know
      So we, as software engineers , decided to create it ! </h3>
    <h3 style="color: black;">BEELINE : a web application that makes driving easier.
      It allows drivers to know the state of traffic on a certain route and recommends an alternative if needed.
      </h3>
    <p class="w3-large w3-text-grey w3-hide-medium"></p>
  </div>
</div>

<div class="row1">
  <div class="column1">
    <div class="card1">
      <img src="../assets/images/asss.png" alt="Jane" style="width:100%">
      <div class="container1">
        <h2>ASMA SMIDA</h2>
        <p class="title1">CEO &amp; COFounder</p>
        <a href="https://www.linkedin.com/in/asma-smida-103026167/">
        <p><button class="button button1">Contact</button></p>
      </a>
      </div>
    </div>
  </div>

  <div class="column1">
    <div class="card1">
      <img src="../assets/images/tas.png" alt="Mike" style="width:100%">
      <div class="container1">
        <h2>TASNIM DAKHLI</h2>
        <p class="title1">CEO &amp; COFounder</p>
    
        <a href="https://www.linkedin.com/in/tasnim-dakhli/">
          <p><button class="button button1">Contact</button></p>
        </a>
      </div>
    </div>
  </div>

  <div class="column1">
    <div class="card1">
      <img src="../assets/images/an.png" alt="John" style="width:100%">
      <div class="container1">
        <h2>MAYBE YOU ?</h2>
        <p class="title1">We are hiring</p>
      
        <p><button class="button button1">Contact</button></p>
      </div>
    </div>
  </div>
</div>
<hr>

<section class="">
  <br><br>
<div class="wrapper" >
  <form class="form2" #message="ngForm" (ngSubmit)="sendMessage(message)">
    <div class="pageTitle2 title2">CONTACT US</div>
    <div class="secondaryTitle2 title2" >Please fill this form to give us some feedback</div>
    <input type="text" class="name2 formEntry2" ngModel name="name" placeholder="Name" />
    <input type="text" class="email2 formEntry2" placeholder="Email" ngModel name="email"/>
    <textarea class="message2 formEntry2" placeholder="Message" ngModel name="message"></textarea>
    <a href = "mailto: tasnimdakhlitd@gmail.com">
    <button class="submit2 formEntry2">Submit</button>
  </a>
  </form>
</div>
</section>


<footer class="footer-distributed">

			<div class="footer-left">

				<img src = "../../assets/images/beeline.png" style="width:200px" >

				<p class="footer-links">
					<a href="" class="link-1">Home</a>
					
				
					<a href="#">check route</a>
				
					<a href="/survey">fill survey</a>
					
					<a href="#">Contact</a>
				</p>

				<p class="footer-company-name">BEELINE © 2022</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>INSAT</span> Centre urbain nord Tunis</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+216 99 514 666</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:contact@beeline.com">contact@beeline.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About BEELINE</span>
        A web application that wants to make the streets a better place
				</p>

				<div class="footer-icons">
        
				  <a href ="https://www.instagram.com">
            <img src="../../assets/images/insta.png" style="width:50px" >
          </a>
          <a href ="https://www.facebook.com">
          <img src="../../assets/images/fb.png" style="width:50px" >
          </a>
          <a href="https://twitter.com">
          <img src="../../assets/images/twitter.png" style="width:50px">
          </a>
          <a href="https://www.linkedin.com">
          <img src="../../assets/images/linkedin.png" style="width:50px">
          </a>
				
				</div>

			</div>

		</footer>



  

 



  
