<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>home</title>
    <link rel="stylesheet" href="../../styles.css" media="screen">
    <link rel="stylesheet" href="nav-bar.component.css" media="screen">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
  </head>
  <body class="u-body u-xl-mode">
    
    <header class="u-align-center u-clearfix u-custom-color-7 u-header u-sticky u-sticky-d2b0 u-header" id="sec-b9d7" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
      <a href="" class="u-border-none u-btn u-btn-round u-button-style u-hover-custom-color-3 u-radius-6 u-text-custom-color-4 u-btn-1">SIGN UP</a>
      <a href="" class="u-border-2 u-border-custom-color-2 u-btn u-btn-round u-button-style u-hover-custom-color-4 u-none u-radius-6 u-text-custom-color-2 u-text-hover-palette-1-base u-btn-2">LOGIN</a>
      <a href="" class="u-image u-logo u-image-1" data-image-width="332" data-image-height="222">
        <img src="assets/beline-logo.png" class="u-logo-image u-logo-image-1">
      </a>
      <a  class="u-border-active-custom-color-3 u-border-hover-custom-color-4 u-border-none u-btn u-button-style u-none u-text-custom-color-6 u-text-hover-custom-color-2 u-btn-3"> Check route&nbsp;</a>
      <a href="/survey" class="u-border-active-palette-2-base u-border-hover-palette-1-base u-border-none u-btn u-button-style u-none u-text-custom-color-6 u-text-hover-custom-color-2 u-btn-4">Guide others</a>
    </header> 

    
    
 
  </body>
</html>