
<!DOCTYPE html>
<html>
<head>
<title>BEELINE</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="#home" class="w3-bar-item w3-button">
      <img src = "../../assets/images/beeline.png" style="width:70px" >
  </a>
    <div class="w3-right w3-hide-small" *ngIf="isLoggedIn">

      <a href="/route" id="child" class="w3-bar-item w3-button">Check route</a>
      <a href="/survey" id="child" class="w3-bar-item w3-button">Help others</a>
     
     

      <a href="/profile" id="child" class="w3-bar-item w3-button w3-2018-little-boy-blue" *ngIf="isLoggedIn">profile</a>

  
      <a href="/" class="nav-link" id="child" (click)="logout()" class="w3-bar-item w3-button ">LogOut</a>
     

    
    </div>
    <div class="w3-right w3-hide-small" *ngIf="!isLoggedIn">
      <a href="/route" id="child" class="w3-bar-item w3-button">Check route</a>
      <a href="/survey" id="child" class="w3-bar-item w3-button">Help others</a>
      <a href="/register" id="child"  class="w3-bar-item w3-button " >SIGN UP</a>
      <a href="/login"  id="child" class="w3-bar-item w3-button ">LOGIN</a>
    </div>
  </div>
</div>
</body>
</html>

