body{
    list-style-type: none;
    margin: 0;
    margin-left: 0;
    padding: 0;
    display:inline-block;
    width: 100%;

    }
    li {
      display: inline-block;
    }
    .w3-top{
      white-space: nowrap;
    
      offset: 15px;;
    
     
    }
    .child{
      display: inline-block;
      margin-right: 5%;
      offset: 5%;
      padding-right: 5%;
     
    }
    ul {
      display: inline-block;
        position: fixed;
        top: 0;
        width: 100%;
      }

      .logo-image{
        width: 46px;
        height: 46px;
        border-radius: 50%;
        overflow: hidden;
        margin-top: -6px;
    }
    