/* *{
  margin:0;
  padding:0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}


body {
position: relative;
left: 0;
margin: 0;
overflow: hidden;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
min-height: 700px;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
-webkit-box-align: start;
    -ms-flex-align: start;
        align-items: flex-start;
}

.jumbotron{
background:#fff url('nature.jpg') no-repeat center;
background-size: cover;
  min-height: 100vh;
  width: 100%;
  padding: 1rem 1rem !important;
-webkit-background-size: cover;
   -moz-background-size: cover;
     -o-background-size: cover;
        background-size: cover;
}

form {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
position: absolute;
align-items: center;
top: 50px;
width: 100%;
padding-top: 50px;
}

fieldset {
position: relative;
}

.fa-search{
position: relative;
padding-left: 0%;
top: 0px;
font-size: 20px !important;
}

.url{
margin: 20px 50px;
vertical-align: middle;
padding-left: 50px;
width: 100%;
-webkit-box-flex: 5;
    -ms-flex-positive: 5;
        flex-grow: 5;
}

.enter{
margin: 20px 20px;
-webkit-box-flex: 1;
    -ms-flex-positive: 1;
        flex-grow: 1;
}

label {
position: absolute;
top: -5px;
letter-spacing: 10px;
font-size: 20px;
color: RGBA(55, 73, 87, 0.8);
-webkit-transform-origin: left;
    -ms-transform-origin: left;
        transform-origin: left;
-webkit-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}

input:focus ~ label {
color: RGBA(254, 253, 255, 1.00);
}

input:focus ~ label,
input:valid ~ label {
top: 0;
letter-spacing: 5px;
-webkit-transform: translate(0, -30px) scale(0.7, 0.7);
    -ms-transform: translate(0, -30px) scale(0.7, 0.7);
        transform: translate(0, -30px) scale(0.7, 0.7);

}

input {
font-family: system-ui, Helvetica, Arial, sans-serif;
font-size: 20px !important;
width: 100%;
border: none;
margin-top: 0;
background-color: transparent;
}

input:focus {
outline: none;
}

.after {
width: 100%;
height: 2px;
background: -webkit-gradient(linear, left top, right top, color-stop(50%, RGBA(254, 253, 255, 1.00)), color-stop(50%, transparent));
background: -webkit-linear-gradient(left, RGBA(254, 253, 255, 1.00) 50%, transparent 50%);
background: -o-linear-gradient(left, RGBA(254, 253, 255, 1.00) 50%, transparent 50%);
background: linear-gradient(to right, RGBA(254, 253, 255, 1.00) 50%, transparent 50%);
background-color: RGBA(55, 73, 87, 0.8);
background-size: 200% 100%;
background-position: 100% 0;
-webkit-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}

input:focus ~ .after {
background-position: 0 0;
}

button {
position: relative;
width: 200px;
height: 34px;
font-size: 20px;
font-family: system-ui, Helvetica, Arial, sans-serif;
line-height: 1.5;
margin-top: 20px;
padding: 2px 10px;
color: rgba(255, 255, 255, 0.6);
background: white;
border: none;
border-radius: 15px;
background: -webkit-gradient(linear, left top, right top, color-stop(50%, white), color-stop(50%, transparent));
background: -webkit-linear-gradient(left, white 50%, transparent 50%);
background: -o-linear-gradient(left, white 50%, transparent 50%);
background: linear-gradient(to right, white 50%, transparent 50%);
background-color: RGBA(55, 73, 87, 0.8);
background-size: 200% 100%;
background-position: 100% 0;
-webkit-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}

button:before {
position: absolute;
font-family: system-ui, FontAwesome, Helvetica, Arial, sans-serif;;
font-size: 20px;
content: "\f00c";
letter-spacing: 3px;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
top: 2px;
bottom: 2px;
left: 2px;
right: 2px;
display: block;
border-radius: 15px;

background-color: rgba(0, 0, 0, 0.3);
}

button:active,
button:focus,
button:hover {
outline: none;
background-position: 0 0;
color: white;
}

@media (min-width: 1260px){
.body{
  background-size: 100%;
}
}

@media (max-width: 590px){
button{
  width: 150px;
  margin-left: -20px !important;
}
label{
  letter-spacing: 7px;
}
}

@media (max-width: 475px){
form{
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}
button{
  float: right;
  margin-right: 25px !important;
}
}

@media (max-width: 315px){
label{
  letter-spacing: 5px;
}
}

@media (max-width: 300px){
label{
  font-size: 10px;
  letter-spacing: 3px;
}
}*/


*{
  margin:0;
  padding:0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Initial menu */

h2{
  color: #fff;
  align-items: center;
  
}

.menu {
   background-color: #98e1eb;
  /* IE9, iOS 3.2+ */
  background-image: url();
 /* Android 2.3 */
  background-image: -webkit-repeating-linear-gradient(top,rgb(18, 218, 244) 0%,rgb(3, 197, 219) 22.1%,rgb(239, 239, 239) 40.8%,rgb(239, 239, 239) 54.4%,rgb(195, 230, 237) 79.6%,rgb(195, 230, 237) 100%);
  /* IE10+ */
  background-image: repeating-linear-gradient(to bottom,rgb(18, 218, 244) 0%,rgb(3, 197, 219) 22.1%,rgb(239, 239, 239) 40.8%,rgb(239, 239, 239) 54.4%,rgb(195, 230, 237) 79.6%,rgb(195, 230, 237) 100%);
  background-image: -ms-repeating-linear-gradient(top,rgb(18, 218, 244) 0%,rgb(3, 197, 219) 22.1%,rgb(239, 239, 239) 40.8%,rgb(239, 239, 239) 54.4%,rgb(195, 230, 237) 79.6%,rgb(195, 230, 237) 100%);
left: -285px;  /* start off behind the scenes */
height: 100%;
position: fixed;
width: 285px;
}
/* The alert message box */
.alert-successful {
  padding: 15px;
  background-color: rgb(255, 243, 174); /* Red */
  color: rgb(2, 28, 84);
  font-size: large;
  font-weight: 4000;
  margin-bottom: 15px;
}
.alert-failure {
  padding: 15px;
  background-color: rgb(251, 140, 96); /* Red */
  color: rgb(2, 28, 84);
  font-size: large;
  font-weight: 4000;
  margin-bottom: 15px;
}


.closebtn33{
  margin-left: 20px;
  color: rgb(14, 0, 69);
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn33:hover {
  color: rgb(112, 243, 250);
}
.menu ul {
border-top: 1px solid rgb(243, 255, 197);
list-style: none;
margin: 0;
padding: 0;
}

.menu li {
border-bottom: 1px solid #e8ffbd;
/*font-family: 'Open Sans', sans-serif;*/
line-height: 45px;
padding-bottom: 3px;
padding-left: 20px;
padding-top: 3px;
}

.menu li a {
color: RGBA(20, 73, 87, 1);
font-size: 18px;
letter-spacing: 15px;
text-shadow: -2px 2px 10px #558ABB;
text-transform: uppercase;
}

.menu li a:hover {
text-decoration: none;
}


.icon-close {
cursor: pointer;
background-color: #e8ffbd;
padding-left: 10px;
padding-top: 10px;
}

.icon-menu {
color: #e8ffbd;
cursor: pointer;
/*font-family: 'Open Sans', sans-serif;*/
font-size: 24px;
line-height: 24px;
text-decoration: none;
text-transform: uppercase;
}

.icon-menu i {
margin-right: 5px;
}

body {
position: relative;
left: 0;
margin: 0;
overflow: hidden;
/*display: -webkit-box;
display: -ms-flexbox;
display: flex;
min-height: 700px;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
-webkit-box-align: start;
    -ms-flex-align: start;
        align-items: flex-start;*/
}

.jumbotron{
background:#fff url('../../assets/images/coolstreet2.png') no-repeat center;
background-size: cover;
  min-height: 100vh;
  width: 100%;
 
-webkit-background-size: cover;
   -moz-background-size: cover;
     -o-background-size: cover;
        background-size: cover;
}

form {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
position: absolute;
top: 50px;
width: 100%;
padding-top: 100px;

}

fieldset {
position: relative;
vertical-align: middle;
}

.fa-search{
  vertical-align: middle;
position: relative;
top: 0px;
font-size: 20px !important;
}

.url{
  vertical-align: middle;

margin: 20px 50px;
margin-top: 10%;
margin-left: 15%;
padding-left: 50px;
-webkit-box-flex: 5;
    -ms-flex-positive: 5;
        flex-grow: 5;
}

.enter{
margin: 20px 20px;
-webkit-box-flex: 1;
    -ms-flex-positive: 1;
        flex-grow: 1;
}

label {
  margin-top: 10%;
position: absolute;
top: -5px;
letter-spacing: 10px;
font-size: 20px;
color: #e8ffbd;
-webkit-transform-origin: left;
    -ms-transform-origin: left;
        transform-origin: left;
-webkit-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}

input:focus ~ label {
color: RGBA(254, 253, 255, 1.00);
}

input:focus ~ label,
input:valid ~ label {
top: 0;
letter-spacing: 5px;
-webkit-transform: translate(0, -30px) scale(0.7, 0.7);
    -ms-transform: translate(0, -30px) scale(0.7, 0.7);
        transform: translate(0, -30px) scale(0.7, 0.7);

}

input {
font-family: system-ui, Helvetica, Arial, sans-serif;
font-weight: 500;
font-size: 20px !important;
color:rgb(247, 244, 240);
width: 100%;
border: none;
margin-top: 0;
background-color: transparent;
opacity: 1;
}

input:focus {
outline: none;
}

.after {
width: 100%;
height: 2px;
background: -webkit-gradient(linear, left top, right top, color-stop(50%, #e8ffbd), color-stop(50%, transparent));
background: -webkit-linear-gradient(left, #e8ffbd 50%, transparent 50%);
background: -o-linear-gradient(left, #e8ffbd 50%, transparent 50%);
background: linear-gradient(to right, #e8ffbd 50%, transparent 50%);
background-color: RGBA(55, 73, 87, 0.8);
background-size: 200% 100%;
background-position: 100% 0;
-webkit-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}

input:focus ~ .after {
background-position: 0 0;
}

button {
position: relative;
width: 200px;
height: 34px;
font-size: 20px;
font-family: system-ui, Helvetica, Arial, sans-serif;
line-height: 1.5;
margin-top: 45%;

align-self: center;

padding: 2px 10px;
color: rgba(255, 255, 255, 0.6);
background: white;
border: none;
border-radius: 15px;
background: -webkit-gradient(linear, left top, right top, color-stop(50%, white), color-stop(50%, transparent));
background: -webkit-linear-gradient(left, white 50%, transparent 50%);
background: -o-linear-gradient(left, white 50%, transparent 50%);
background: linear-gradient(to right, white 50%, transparent 50%);
background-color: #00365d;
background-size: 200% 100%;
background-position: 100% 0;
-webkit-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}

button:before {
position: absolute;
font-family: system-ui, FontAwesome, Helvetica, Arial, sans-serif;;
font-size: 20px;
content: "\f00c";
letter-spacing: 3px;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
top: 2px;
bottom: 2px;
left: 2px;
right: 2px;
display: block;
border-radius: 15px;
/*color: white;*/
background-color: rgba(0, 0, 0, 0.3);
}

button:active,
button:focus,
button:hover {
outline: none;
background-position: 0 0;
color: white;
}

@media (min-width: 1260px){
.body{
  
  background:#fff url('../../assets/images/coolstreet2.png') no-repeat center;
background-size: cover;
  min-height: 100vh;
  width: 100%;
 
-webkit-background-size: cover;
   -moz-background-size: cover;
     -o-background-size: cover;
        background-size: cover;
}
}

@media (max-width: 590px){
button{
  width: 150px;
  margin-left: -20px !important;
}
label{
  letter-spacing: 7px;
}
}

@media (max-width: 475px){
form{
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}
button{
  float: right;
  margin-right: 25px !important;
}
}

@media (max-width: 315px){
label{
  letter-spacing: 5px;
}
}

@media (max-width: 300px){
label{
  font-size: 10px;
  letter-spacing: 3px;
}
}
.btn2 {
  border: none; /* Remove borders */
  color: white; /* Add a text color */
  padding: 14px 28px; /* Add some padding */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
}

.success2 {background-color: #04AA6D;} /* Green */
.success2:hover {background-color: #46a049;}





