.u-section-1 {
    background-image: none;
  }
  
  .u-section-1 .u-sheet-1 {
    min-height: 1028px;
  }
  .title{
    font-family: 'Courier New', Courier, monospace;
    animation: movedown1 1s linear 1;
    color: #478ac9;
    font-size: 3.75rem;
    height: 70px;
    text-transform: uppercase;
    font-weight: bold;
    animation-fill-mode: forwards;
    visibility: hidden;
  
  }
  /* The alert message box */
.alert {
  padding: 20px;
  background-color: #ee4236; /* Red */
  color: white;
  margin-bottom: 15px;
}
  /* The alert message box */
.success {
    padding: 20px;
    background-color: #8bf436; /* green */
    color: white;
    margin-bottom: 15px;
  }

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}
  .message{
    font-family: 'Courier New', Courier, monospace;
    animation: movedown 1s linear 1;
    color: #82c0f9;
    font-size: 1.25rem;
    font-weight: 700;
    animation-delay: 1s;
    margin: 30px ;
    animation-fill-mode: forwards;
    visibility: hidden;
  
  }
  @keyframes movedown1{
  
    0%{
     transform: translateY(-100px);
    visibility: visible;
    }
    100%{
      transform: translateY(0);
       visibility: visible;
     }
  }
  @keyframes movedown{
  
    0%{
     transform: translateY(-30px);
    visibility: visible;
    }
    100%{
      transform: translateY(0);
       visibility: visible;
     }
  }
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    text-transform: uppercase;
    font-weight: 700;
    margin: 67px auto 0;
  }
  .car{ 
    position: relative;
    animation: moveright 5s infinite;
    animation-delay: 2s;
    scale: 30%;
    top: -400px;
    animation-fill-mode : forwards;
    visibility: hidden;
  }
  @keyframes moveright{
  
    0%{
     transform: translateX(-900px);
    visibility: visible;
    }
    100%{
      transform: translateX(970px);
       visibility: visible;
     }
  }
  
  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 20px auto 0;
  }
  
  .u-section-1 .u-group-1 {
    min-height: 728px;
    width: 593px;
    height: auto;
    margin: 0px auto 0px;
    animation: zoomin 1s linear 1;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    visibility: hidden;
  
  }
  @keyframes zoomin{
  
    0%{
     transform: scale(0.95);
     visibility: visible;
    }
    100%{
      transform: translateX(1);
       visibility: visible;
     }
  }
  .u-section-1 {
    background-image: linear-gradient(#f9e79b, #4c7397);
  }
  
  .u-section-1 .u-sheet-1 {
    min-height: 1028px;
  }
  
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    text-transform: uppercase;
    font-weight: 700;
    margin: 67px auto 0;
  }
  
  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 20px auto 0;
  }
  
  .u-section-1 .u-group-1 {
    min-height: 728px;
    width: 593px;
    margin: 38px auto 60px;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 0 30px 30px;
  }
  
  .u-section-1 .u-form-1 {
    height: 472px;
    margin-top: 37px;
    margin-bottom: 0;
  }
  
  .u-section-1 .u-label-1 {
    font-weight: 700;
    letter-spacing: 1px;
  }
  
  .u-section-1 .u-form-group-2 {
    margin-left: 0;
  }
  
  .u-section-1 .u-label-2 {
    font-weight: 700;
    letter-spacing: 1px;
  }
  
  .u-section-1 .u-form-group-3 {
    margin-left: 0;
  }
  
  .u-section-1 .u-label-3 {
    font-weight: 700;
    letter-spacing: 1px;
  }
  
  .u-section-1 .u-form-group-4 {
    margin-left: 0;
  }
  
  .u-section-1 .u-label-4 {
    font-weight: 700;
    letter-spacing: 1px;
  }
  
  .u-section-1 .u-label-5 {
    font-weight: 700;
    letter-spacing: 1px;
  }
  
  .u-section-1 .u-btn-1 {
    letter-spacing: 0px;
    background-image: none;
    width: 100%;
    font-size: 1.25rem;
    text-transform: none;
    font-weight: 700;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 0 30px 30px;
    
  
  }
  
  .u-section-1 .u-form-1 {
    height: 472px;
    margin-top: 37px;
    margin-bottom: 0;
  }
  
  .u-section-1 .u-label-1 {
    font-weight: 700;
    letter-spacing: 1px;
  }
  
  .u-section-1 .u-form-group-2 {
    margin-left: 0;
  }
  
  .u-section-1 .u-label-2 {
    font-weight: 700;
    letter-spacing: 1px;
  }
  
  .u-section-1 .u-form-group-3 {
    margin-left: 0;
  }
  
  .u-section-1 .u-label-3 {
    font-weight: 700;
    letter-spacing: 1px;
  }
  
  .u-section-1 .u-form-group-4 {
    margin-left: 0;
  }
  
  .u-section-1 .u-label-4 {
    font-weight: 700;
    letter-spacing: 1px;
  }
  
  .u-section-1 .u-label-5 {
    font-weight: 700;
    letter-spacing: 1px;
  }
  
  .u-section-1 .u-btn-1 {
    letter-spacing: 0px;
    background-image: none;
    width: 100%;
    font-size: 1.25rem;
    text-transform: none;
    font-weight: 700;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-group-1 {
      height: auto;
    }
  
    .u-section-1 .u-form-1 {
      margin-top: 23px;
    }
  
    .u-section-1 .u-btn-1 {
      border-style: solid;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-group-1 {
      width: 540px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-text-1 {
      font-size: 1.875rem;
    }
  
    .u-section-1 .u-group-1 {
      width: 340px;
    }
  }
  .u-section-1 {
    background-image: linear-gradient(#f9e79b, #4c7397);
  }
  .button {
    display: inline-block;
    border-radius: 15px;
    background-color: #002649;
    border: none;
    color: #fffb85;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  