<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <title>Fill Survey</title>
    <link rel="stylesheet" href="../../styles.css" media="screen">
    <link rel="stylesheet" href="traffic-survey.component.css" media="screen">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
  
  </head>
  <body class="u-body u-xl-mode">
   
    <section class="u-align-center u-clearfix u-gradient u-section-1" id="carousel_33d7">
      <div class="u-clearfix u-sheet u-sheet-1">
        <br><br> <br><br>
        <div class="title">Fill​ Survey</div>
        <p class="message">And help other drivers reach their destinations</p>
        <div class="u-align-center u-container-style u-custom-color-3 u-group u-radius-30 u-shape-round u-group-1">
          <div class="u-container-layout u-container-layout-1">
            <div class="u-expanded-width u-form u-form-1">
              <div  *ngIf="errorMessage" class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                {{errorMessage}}
              </div>
              <div  *ngIf="successMessage" class="success">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                {{successMessage}}
              </div>
              <form #survey="ngForm" (ngSubmit)="getSurvey(survey)">
                <div class="u-form-group u-form-name u-label-top">
                  <label for="location" class="u-label u-text-custom-color-4 u-label-1">Location</label>
                  <input required id="location" type="text" placeholder="Where are you ? " id="name-4c18" ngModel name="location" class="u-border-3 u-border-palette-1-light-3 u-custom-color-8 u-input u-input-rectangle u-radius-10" >
                </div>
                <div class="u-form-group u-form-select u-label-top u-form-group-2">
                  <label for="select-0220" class="u-label u-text-custom-color-4 u-label-2">How is the traffic ? </label>
                  <div class="u-form-select-wrapper">
                    <select id="state" ngModel name="state" class="u-border-3 u-border-palette-1-light-3 u-custom-color-8 u-input u-input-rectangle u-radius-10" required="required">
                      <option value="very bad">very bad</option>
                      <option value="bad">bad</option>
                      <option value="moderate">moderate</option>
                      <option value="good">good</option>
                      <option value="very good">very good</option>
                    </select>
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1" class="u-caret"><path fill="currentColor" d="M4 8L0 4h8z"></path></svg>
                  </div>
                </div>
                <div class="u-form-group u-label-top u-form-group-3">
                  <label for="waitingTime" class="u-label u-text-custom-color-4 u-label-3">Waiting time ( in minutes , 1h = 60min )</label>
                  <input type="text" id="waitingTime" ngModel name="waitingTime" class="u-border-3 u-border-palette-1-light-3 u-custom-color-8 u-input u-input-rectangle u-radius-10" placeholder="how long have you been waiting ?" maxlength="30">
                </div>
                <div class="u-form-group u-form-select u-label-top u-form-group-4">
                  <label for="cause" class="u-label u-text-custom-color-4 u-label-4">Cause for traffic jam</label>
                  <div class="u-form-select-wrapper">
                    <select id="cause" ngModel name="cause" class="u-border-3 u-border-palette-1-light-3 u-custom-color-8 u-input u-input-rectangle u-radius-10">
                      <option value="accident">accident</option>
                      <option value="wedding">wedding</option>
                      <option value="special event">special event</option>
                      <option value="other">other</option>
                    </select>
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1" class="u-caret"><path fill="currentColor" d="M4 8L0 4h8z"></path></svg>
                  </div>
                </div>
                <div class="u-form-group u-form-message u-label-top">
                  <label for="addition" class="u-label u-text-custom-color-4 u-label-5">Anything to add ? </label>
                  <textarea placeholder="Enter your message" rows="4" cols="50"   
                   id="addition" 
                   ngModel name="addition"
                  class="u-border-3 u-border-palette-1-light-3 u-custom-color-8 u-input u-input-rectangle u-radius-10">
                </textarea>
                </div>
                <br>
                <button class="button" style="vertical-align:middle"><span>submit </span></button>
              </form>
              
            </div>
          </div>
        </div>
      </div>
      <img class="car" src="assets/images/car.png" alt="car"> 
      
    </section>

  </body>
</html>